.login-form {
    box-shadow: #1F6EEB 0px 4px 8px -2px, #1F6EEB 0px 0px 0px 1px;
    overflow: hidden;
    height: 90vh;
    border-radius: 30px;
}

.login-main{
    height: 100vh;
    width: 100vw;
}



.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    padding: 50px;
    height: 500px;
    background-color: rgb(0, 0, 0);
}

@media (min-width: 1000px){
  .form{
    width: 600px;
  }
}
  
.inputContainer {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 100%;
  height: 50px;
}

.fInput {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid rgb(48, 45, 45);
  background-color: black;
  padding: 10px;
  color: white;
  transition: .1s;
  position: absolute;
}

.fInput:focus {
  border: 1px rgb(0, 136, 255) solid;
  outline: none;
}

.fInput:focus::placeholder {
  color: rgb(0, 136, 255);
}

.fInput.email {
  z-index: 1;
}

.fInput.pass:focus {
  z-index: 2;
}

.submit {
  width: 100%;
  top: 60px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  position: absolute;
}

.submit:focus + .email {
  display: none;
}

.login {
  width: 100%;
  color: #bec1c6;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0;
  position: absolute;
  top: 40px;
  left: 55px;
}

.submit:hover {
  opacity: .9;
}

.forget {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1PX solid rgba(255, 255, 255, 0.151);
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  margin-top: 40px;
  text-align: center;
}

.forget:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.con {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
  color: rgb(111, 103, 103);
  font-size: 13px;
  font-family: sans-serif;
  background-color: rgba(255, 0, 0, 0);
}

.con a {
  color: rgb(0, 136, 255);
}

.errorDiv {
  position: absolute;
  top: 20px;
  right: 40px; 
  background: rgba(255, 0, 0, 0.563);
  height: 5rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: medium;
  transform: translateX(100%);
  transition: transform 1s ease; 
}

.errorDiv.show {
  transform: translateX(0);
}

.hidden {
  display: none; 
  transform: translateX(100%);
}
